<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Loading Cat
    link(rel="stylesheet", href="css/main.css")
  body
    h1 Loading Cat
      .icon
        .ball
        .paw.paw1
        .paw.paw2
    hr
    .main
      .loading_cat
        .cat_body
        .cat_animation
        .cat_head
          .cat_face
          .cat_ear
          .cat_hand
          .cat_eye
          //- .cat_cry
          .cat_mouth
          .cat_bread.left
          .cat_bread.right    
        .cat_foot
          .cat_stomach
          .cat_leg
          .cat_tail
      img(src="images/giphy.gif", alt="Loading Cat")
    .text 哪個是GIF檔？